<form action="/users" method="POST">
  <label for="email">Email: </label>
  <input type="email" name="email"></br>
  <label for="password">Password:</label>
  <input type="password" name="password">
  <label for="password_confirmation">Confirm Password:</label>
  <input type="password" name="password_confirmation">
  <input type="submit" value="Signup">
</form>
