<h1> Add New Bookmarks </h1>

<form action="/links" method="post">
  title: <input type="text" name="title"><br>
  url: <input type="text" name="url"><br>
  tags: <input type="text" name="tags"><br>
  <input type="submit" value="Submit">
</form>
