<h1> Add New Bookmarks </h1>

<form action="/links" method="post">
  title: <input type="text" name="title">
  url: <input type="text" name="url">
  tags: <input type="text" name="tags">
  <input type="submit" value="Submit">
</form>
