<h1> Links </h1>
<% if current_user %>
  <p>Welcome <%= @current_user.email %></p>
<% end %>

<form action="/links/new" method="get">
  <input type="submit" value="New bookmark">
</form>

<ul id='links'>
  <% @links.each do |link| %>
   <li>
     title: <%= link.title %>
     url: <%= link.url %>
     tags:
     <% link.tags.each do |tag| %>
        <%= tag.name %>
     <% end %>
   </li>
 <% end %>
</ul>
